<!-- The AG Grid component -->
@let isSearchModeEnabled = !!searchResults()?.length || searchEnabled();


<h3>Git {{ collectionName() }}</h3>
@if (isSearchModeEnabled) {

  <ag-grid-angular
    class="ag-theme-quartz"
    style="height: calc(50vh - 180px)"
    [rowData]="searchResults()"
    (gridReady)="onGridReady($event)"
    [columnDefs]="colDefs"
    [loading]="false"
    [pagination]="true"
    [defaultColDef]="defaultColDef"/>
} @else {

  <div [ngxLoaderIndicator]="loading">
    <ag-grid-angular
      class="ag-theme-quartz"
      (sortChanged)="onSortChange($event)"
      rowModelType="infinite"
      [datasource]="dataSource"
      style="height: calc(50vh - 180px);"
      (paginationChanged)="paginationChangedEvent($event)"
      (gridReady)="onGridReady($event)"
      [columnDefs]="colDefs"
      [loading]="loading"
      [pagination]="true"
      [cacheBlockSize]="10"
      [paginationPageSize]="10"
      [paginationPageSizeSelector]="[10]"
      [defaultColDef]="defaultColDef"/>
  </div>
}
