@let isUserLoggedIn = sessionService.isLoggedIn();

<div class="sticky-container">
  @if (isSyncing && isUserLoggedIn) {
    <div class="alert-container">
      <div class="prefix">
        <mat-spinner [diameter]="40"></mat-spinner>
      </div>
      <div class="message">
        Your data is being synchronized. This may take a few minutes depending on the size of your repositories.
        Your data might be incomplete until the synchronization is complete. You page will reload automatically.
      </div>
    </div>
  }
  <mat-accordion class="header-align">
    <mat-expansion-panel [expanded]="!isUserLoggedIn">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Github
          @if (isUserLoggedIn) {
            &nbsp;&nbsp;
            <i class="fa-solid fa-circle-check fa-cl-success"></i>
            &nbsp;&nbsp;
            <i matRipple matTooltip="re-sync user info" (click)="syncInfo($event)"
               class="fa-solid fa-arrows-rotate"></i>
          }
        </mat-panel-title>
        <mat-panel-description>
          @if (isUserLoggedIn) {
            <span>&nbsp;</span>
            <small>
              <div>Admin: Last synced on {{ sessionService.getUser()!.lastSync | date: 'YYYY-MM-dd hh:mm a' }}</div>
              <div>Sync type: Full</div>
            </small>
          }
        </mat-panel-description>
      </mat-expansion-panel-header>
      @if (!isUserLoggedIn) {
        <div class="integration-content">
          <button mat-flat-button color="primary" (click)="onGHLogin()">Connect</button>
          <div>Connect Sred.io to Github</div>
        </div>
      } @else {
        <div class="integration-content align-end">
          <button mat-flat-button color="warn" (click)="onGHLogout()">Remove <i class="fa-solid fa-user-secret"></i>
          </button>
        </div>
      }
    </mat-expansion-panel>
  </mat-accordion>

  @if (isUserLoggedIn) {
    <div class="fields-container">
      <mat-form-field>
        <mat-label>Integration</mat-label>
        <mat-select [(ngModel)]="integration">
          <mat-option value="github">Github</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field floatLabel="always">
        <mat-label>Search</mat-label>
        <input #searchField #searchModel='ngModel' [disabled]="loadingSearchResults"
               matInput [(ngModel)]="searchTerm"/>
      </mat-form-field>
    </div>
  }
</div>

@if (isUserLoggedIn) {
  <div class="data-container mat-elevation-z4">
    <div>
      @if (!commitsSearchResult.length && !this.searchTerm().length) {
        <app-gh-data-grid collectionName="Repo Commits"></app-gh-data-grid>
      } @else {
        <div [ngxLoaderIndicator]="loadingSearchResults">
          <app-gh-data-grid collectionName="Repo Commits Search Results"
                            [searchResults]="commitsSearchResult"
                            [searchEnabled]="!!searchTerm().length"
          ></app-gh-data-grid>
        </div>
      }
    </div>

    @if (!issuesSearchResult.length && !this.searchTerm().length) {
      <app-gh-data-grid collectionName="Repo Issues"></app-gh-data-grid>
    } @else {
      <div [ngxLoaderIndicator]="loadingSearchResults">
        <app-gh-data-grid collectionName="Repo Issues Search Results"
                          [searchResults]="issuesSearchResult"
                          [searchEnabled]="!!searchTerm().length"
        ></app-gh-data-grid>

      </div>
    }
    <app-gh-data-grid collectionName="Organizations"></app-gh-data-grid>
    <app-gh-data-grid collectionName="Repos"></app-gh-data-grid>
    <app-gh-data-grid collectionName="Repo Pull Requests"></app-gh-data-grid>
  </div>
}
