.integration-content {
  display: flex;
  align-items: center;
  flex-direction: column;

  &.align-end {
    align-items: end;
  }
}

.header-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  color: var(--gray);
}

.data-container {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fields-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.sticky-container {
  position: sticky;
  top: 0;
  z-index: 99999;
  background: whitesmoke;
}
